:root {
    --compact-width: 660px;
    --normal-radius: 10px;
    --sharper-radius: 5px;
    --normal-transition: transform .1s;

    --fox-background-color: rgb(32, 32, 32);
    --fox-primary-color: darkorange;
    --fox-secondary-color: white;

    --primary-functional-color: royalblue;
    --primary-functional-text-color: white;
    --secondary-functional-color: mediumvioletred;
    --secondary-functional-text-color: white;
}
:global {
    /* html, body {
        height: 100vh;
    } */

    body {
        margin: 0px;
        font-family: Arial, sans-serif;
        background-color: white;
    }

    .align-with-nav {
        padding: 0 12px;	
    }
    /* Card */
    div.card {
        display: block;
        width: auto;
        max-width: var(--compact-width);
        background-color: whitesmoke;
        transition: var(--normal-transition);
        border-radius: var(--normal-radius);
        padding: 1em 1em;
        border: 1px dotted var(--fox-background-color);
        margin: 1em 0;
    }
    /* div.card:hover {
        background-color: whitesmoke;
    } */
    div.card > :first-child {
        margin-top: 0;
    }
    div.card > :last-child {
        margin-bottom: 0;
    }
    div.card img {
        width: 100%;
        max-width: var(--compact-width);
        border-radius: var(--sharper-radius);
        /* border: 1px dashed black; */
    }
    div.card img.medium {
        max-width: calc(var(--compact-width) * 0.65);
    }
    div.card img.small {
        max-width: calc(var(--compact-width) * 0.5);
    }
    div.card img.x-small {
        max-width: calc(var(--compact-width) * 0.25);
        margin-right: 8px;
    }
    div.card img.preview {
        max-height: calc(var(--compact-width) * 0.25);
        width: auto;
        margin-right: 8px;
    }
    div.card img.outlined {
        border: 1px dashed black;
    }
    div.card img.icon {
        max-width: 72px;
        max-height: 72px;
    }
    /* Grid */
    div.grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        gap: 4px;
    }
    div.grid > div.item {
        background-color: white;
        /* border-radius: var(--sharper-radius); */
        border: 1px solid black;
        text-align: center;
    }
    /* Flex grid */
    div.flex_grid {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        gap: 4px;
    }
    div.flex_grid > div.item {
        background-color: white;
        /* border-radius: var(--sharper-radius); */
        border: 1px solid black;
        text-align: center;
    }

    /* Header/Content Format */
    div.header_content_format {
        display: flex;
        flex-flow: column;
        height: 100vh;
    }
    div.header_content_format > div.header {
        flex: 0 1 auto;
        /* background-color: blue; */
    }
    div.header_content_format > div.content {
        flex: 1 1 auto;
        /* background-color: red; */
    }
    /* Dashed border */
    hr.dashed {
        border-top: 1px dashed black;
        border-bottom: 0px;
    }
    /* Dotted border */
    hr.dotted {
        border-top: 1px dotted black;
        border-bottom: 0px;
    }

    /* Full height with nav offset */
    .full_height_with_nav_offset {
        height: calc(100vh - 8px - 1rem) !important;
    }

    /* Solid border */
    hr.solid {
        border-top: 1px solid black;
        border-bottom: 0px;
    }

    a {
        color: inherit;
        border-bottom: 1px dotted dimgray;
        border-bottom-width: 1px;
        text-decoration: none;
        text-decoration-line: none;
    }

    a[target="_blank"]::after {
        content: " ⧉";
        font-size: small;
        color: grey;
    }



    p.annotation {
        color: dimgrey;
        font-size: small;
        max-width: var(--compact-width);
    }

    p.compact {
        max-width: var(--compact-width);
    }

    span.annotation {
        color: dimgrey;
        font-size: small;
    }


    div.icon_description_layout {
        display: flex;
        gap: 12px;
    }

    div.icon_description_layout > div.icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    
    div.icon_description_layout > div.description {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        flex-grow: 1;
    }

    /* a:visited, a:hover, a:active {
        color: rgb(0, 0, 0);
    } */

    /* h1, h2, h3, h4, h5 {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    } */
}