:root {
    --min-right-width: 300px;
}
div.editor-layout {
    display: flex;
    gap: 1em;
}

div.editor-layout > div.left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: calc(100% - var(--min-right-width) - var(--page-offset));
}

div.editor-layout > div.left > .master-container {
    display: block;
    /* width: 100%; */
}

div.editor-layout > div.left > .master-container > div.row {
    display: block;
}

div.editor-layout > div.right {
    display: flex;
    flex-grow: 0;
    min-width: var(--min-right-width);
    /* width: auto; */
    /* overflow-y: auto; */
}

div.editor-layout > div.right > div.canvas-container {
    margin-top: 1em;
    top: calc(var(--main-nav-height) + var(--page-offset));
    position: sticky;
    /* min-width: 350px; */
    display: block;
    height: calc(100vh - var(--main-nav-height) - 2 * var(--page-offset));
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
}

div.editor-layout > div.right > div.canvas-container > div.info-container {
    display: block;
    width: 100%;
}

table.snapshot {
    width: 100%;
}

td.glyphs {
    width: 1px;
    white-space: nowrap;
}

.flex_grid .image-item {
    width: auto;
    height: 220px;
    min-width: 110px;
    background: unset;
    border: 1px dotted dimgray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: unset;
    cursor: pointer;
    /* padding-left: var(--page-offset);
    padding-right: var(--page-offset); */
}

.flex_grid .image-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.flex_grid .html-item {
    width: 100%;
    aspect-ratio: 1;
    max-width: calc(220px - 2 * var(--page-offset));
    height: 220px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: unset;
    border: 1px dotted dimgray;
    padding-right: var(--page-offset);
    padding-left: var(--page-offset);
    /* cursor: pointer; */
}

.flex_grid .audio-item {
    height: 220px;
    width: 275px;
    aspect-ratio: 1.25;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: unset;
    border: 1px dotted dimgray;
    padding-right: var(--page-offset);
    padding-left: var(--page-offset);
    /* cursor: pointer; */
}

.flex_grid .audio-item audio {
    max-width: 250px;
}

.flex_grid .video-item {
    height: 220px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: unset;
    border: 1px dotted dimgray;
    padding-right: var(--page-offset);
    padding-left: var(--page-offset);
    /* cursor: pointer; */
}

.flex_grid .video-item video {
    max-height: 100px;
}

.flex_grid .html-item .center-div {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .flex_grid .image-item {
        height: 170px;
        min-width: 170px;
    }
    .flex_grid .html-item {
        width: 170px;
        height: 170px;
    }
}
    